main {
    height: calc(100vh - 5.625rem);
    overflow-y: auto;
}

footer {
    height: 2.125rem;
    line-height: 2.125rem;
}

select {
    cursor: pointer;
}

.ms-img-container {
    width: 40px;
}

.ms-grid-container {
    height: calc(100vh - 9.375rem);
}

#grid {
    width: 500px;
    height: 500px;
}

.square.ms-easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square.ms-medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square.ms-hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* 
- con difficoltà 1 (easy) => 100 caselle, con un numero compreso tra 1 e 100, divise in 10 caselle per 10 righe;
- con difficoltà 2 => 81 caselle, con un numero compreso tra 1 e 81, divise in 9 caselle per 9 righe;
- con difficoltà 3 => 49 caselle, con un numero compreso tra 1 e 49, divise in 7 caselle per 7 righe; 
*/